<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VybzChat"
        tools:targetApi="35">

        <!-- LAUNCHER activity: Login screen -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register screen -->
        <activity android:name=".ui.auth.RegisterActivity" />

        <!-- Chat list screen -->
        <activity android:name=".ui.chat.ChatListActivity" />

        <!-- Chat screen (keyboard will no longer cover the input bar) -->
        <activity
            android:name=".ui.auth.ChatActivity"
            android:windowSoftInputMode="adjustResize" />

        <!-- Optional main activity (if used for testing or splash) -->
        <activity android:name=".MainActivity" />
    </application>
</manifest>
